{% extends "book_heaven/layout.html" %}

{% block title %} About us {% endblock %}

{% block body %}

<div>
    <h2>Overview</h2>
    <p>This is a reading website that enables users to read publicly listed
        books, purchase paid books through a link to external websites, and
        add their previous readings from other websites such as Goodreads.<br/>
        Our focus is to build a recommendation system for personalized search
        and recommendations.<br/>
        the website will recommend both publicly listed books that the user
        can read on the site, and other books through a link to external websites
        (e.g. Amazon).</p>
    

  
</div>

<div>

    <h2>Mission</h2>
    <ol>
        <li>Building a website for book lovers, so that they can easily access free books and
            share their readings.</li>
        <li>Creating a recommendation system for the users, so that their search results will be
            customized according to their previous reading habits.</li>
        <li>The user’s search and recommendation results will include not only free books, but also Paid
             books links to borrow or purchase.</li>
    </ol>

</div>


   




{% endblock %}