{% extends "book_heaven/layout.html" %}

{% block title %} My account{% endblock %}

{% block body %}
<div class="profile">
    <div >
        <div>
            <div class=" account_icon">
                <i class="material-icons" style="font-size:120px;color:rgb(208, 218, 218); ">account_circle</i>
            </div>
            <div >
                <h1 class="account_title">
                    {% if username%}
                        {{username}}
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="account_info">
            
            {% if email %}        
            <div> <p >Email  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{email}}  </p>  </div>
            {%  endif %}
            {% if birthday%}
            <div><p >Birthday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{birthday}}  </p></div>
            {%  endif %}
        </div>
    </div>
    <div class="account">
        
        <br/>
        <br/>

        <!-- Upload your goodreads library starts -->
        <div class="account_upload">
            <form action = "{% url 'upload_library' %}" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 account_upload_title">
                    <h3 class="form-label">Upload your goodreads library</h3>
                    <br>
                    <input type="file" name="library">
                </div>
                <button type="submit">Upload</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} table_body" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- Upload your goodreads library Ends -->
    </div>
</div>
<!-- <div style="margin: 150px;"></div>     -->
<div class="contact_us_abs">
    <h2>Contact us</h2>
    
    <a href="mailto:fatmabadr1272000@gmail.com"><i class="material-icons" style="font-size:36px">email</i></a>
    <a href="mailto:bassantmahmoud1010@gmail.com"><i class="material-icons" style="font-size:36px">email</i></a>
    <a href="mailto:ayahassan.holmez@gmail.com"><i class="material-icons" style="font-size:36px">email</i></a>
    
</div>    
    

    
{% endblock %}